@font-face {
    font-family: "DM Sans";
    src: url(./fonts/DMSans_24pt-Regular.ttf);
}
/* Font styling */
body {
    font-family: "DM Sans";
}


.navbar-logo {
    width: 120px;
    height: auto;
    transition: width 0.3s ease;
}

/* Links and Icons common style */
.navbar-nav .nav-link,
.social-link {
    color: #4b4342 !important;
    text-decoration: none;
    position: relative;
    padding: 5px 2px;
    margin: 0 12px;
    display: inline-block;
    transition: 0.3s;
}

.navbar-nav .nav-link::after,
.social-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #6bcbc9;
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after,
.social-link:hover::after {
    width: 100%;
}

.btn-order {
    background-color: #6bcbc9;
    color: white !important;
    border-radius: 50px;
    padding: 9px 22px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    white-space: nowrap;
    letter-spacing: 1px;
}

.btn-order:hover {
    background-color: #5bb3b1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



/* Carousel Item Styling */
.carousel-item {
    height: 85vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
}

.carousel-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-text {
    z-index: 5;
    width: 1000px;
}

.first-p-small {
    font-size: 20px !important;
}

.custom-p-large {
    font-size: 35px !important;
    letter-spacing: 1px;
}

.btn-hero {
    background-color: #6bcbc9;
    color: white !important;
    border-radius: 50px;
    border: none;
    display: inline-block;
    padding: 12px 40px !important;
}



/* Specialties Section Styling */
.specialties-section {
    padding: 60px 0;
    position: relative;
    background-image: url('./images/backgroundsection.jpg');
    background-size: cover;
    background-position: center;
}

.specialties-title {
    font-weight: 700;
    color: #4b4342;
    font-size: 3.2rem;
    padding: 40px 0;
    letter-spacing: 1px;
}

.img-wrapper {
    width: 100%;
    max-width: 280px;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.specialty-card:hover img {
    transform: scale(1.1);
}

.specialty-card h5 {
    font-size: 20px;
    font-weight: 600;
    color: #4b4342;
    margin-top: 20px;
}



/* After Pending */
/* --- Magic Processing Styling --- */
.hero-section {
    position: relative;
    background: url('./images/backgroundsectwo.jpg') no-repeat center center/cover;
    min-height: 80vh; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    z-index: 1;
    overflow: hidden;
}
.hero-section::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgb(126, 212, 209,0.86);
    z-index: -1;
}
.magic-card {
    border: 2px solid white;
    border-radius: 10px;
    max-width: 900px !important;
    width: 90%;
    padding: 80px 40px !important;
    background: transparent;
    backdrop-filter: blur(8px);
    text-align: center;
}

.magic-card h2 {
    font-size: 2.5rem !important;
    color: white;
    letter-spacing: 2px;
}

.magic-card p {
    max-width: 550px;
    margin: 20px auto;
    line-height: 1.6;
    color: white;
    opacity: 0.9;
    font-size: 16px !important;
}
.cust-btn {
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    padding: 11px 26px !important;
    letter-spacing: 1px;
    font-size: 18px !important;
  }
  
  .cust-btn:hover {
    background-color: #ffffff;
    color: gray !important;
  }
  
.icon-box i {
    width: 60px;
    margin-bottom: 20px;
    font-size: 60px;    
}



/* Our Creations Section */
.creations-section {
    background-color: #ffffff;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}
.creation-icon i {
    color: #ff91a4;
}
.img-wrap {
    overflow: hidden;
    border-radius: 12px;
}
.img-wrap img {
    transition: transform 0.4s ease;
    cursor: pointer;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.img-wrap img:hover {
    transform: scale(1.1);
}
.creations-section h2 {
    font-size: 2.5rem;
    letter-spacing: 1px;
    color: #4b4342;
}





/* Recpies Section Pending*/






/* --- Magic Processing Styling --- */
@media (min-width: 1880px) {
    .magic-card {
        max-width: 1100px;
        padding: 100px 60px !important;
    }
    .magic-card h2 { font-size: 3.5rem; }
    .magic-card p { font-size: 1.4rem; max-width: 700px; }

/*  Our Creations Section */
    .creations-section {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    
    .creations-section h2 {
        margin-bottom: 60px;
    }
}

@media (max-width: 1199px) {
    .magic-card {
        max-width: 750px;
        padding: 60px 30px !important;
    }
}

@media (max-width: 768px) {
    .hero-section { min-height: 100vh; }
    .magic-card {
        padding: 50px 20px !important;
    }
    .magic-card h2 { font-size: 2rem; }
    .magic-card p { font-size: 0.7rem !important; }
}

@media (max-width: 480px) {
    .magic-card {
        padding: 30px 15px !important;
        width: 95%;
    }
    .magic-card h2 { font-size: 1.5rem; }
    .icon-box img { width: 50px; }
}


@media (max-width: 991px) {

    /* Navbar */
    .navbar-collapse {
        text-align: center;
        padding-top: 20px;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .navbar-logo {
        width: 60px;
    }

    .social-icons {
        justify-content: center;
    }

    .nav-link::after,
    .social-link::after {
        left: 50% !important;
        transform: translateX(-50%);
    }

    .nav-link:hover::after,
    .social-link:hover::after {
        width: 40% !important;
    }


    /* Carousel */
    .carousel-item {
        height: 75vh;
    }

    .hero-text h1 {
        font-size: 2.2rem;
    }

    .custom-p-large {
        font-size: 18px !important;
    }

    .hero-text .btn-hero {
        margin: 0 auto;
    }

    .btn-hero {
        font-size: smaller !important;
        padding: 10px 30px !important;
    }


    /* Specialties Section Styling */
    .specialties-title {
        padding: 0%;
    }


/*  Our Creations Section */
    .creations-section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
}

/* Specialties Section Styling */
@media (max-width: 576px) {
    .img-wrapper {
        max-width: 220px;
    }

    .specialties-title {
        font-size: 2.2rem !important;
        text-align: center;
        padding: 20px 0;
    }

    .specialties-section {
        background-attachment: scroll;
    }


/*  Our Creations Section */
    .creations-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}